In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Данные

In [8]:
df = pd.read_csv("final_df.csv")

In [9]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,False,False,False,False,True,False,False,False,True,False
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,False,False,False,False,True,False,False,False,True,False
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,False,False,False,False,True,False,False,False,True,False
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,False,False,False,False,True,False,False,False,True,False
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,False,False,False,False,True,False,False,False,True,False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Columns: 274 entries, Lot Frontage to Sale Condition_Partial
dtypes: bool(238), float64(11), int64(25)
memory usage: 1.5 MB

In [12]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [42]:
from sklearn.linear_model import ElasticNet
basic_elastic_net_model = ElasticNet(max_iter = 10000000)

In [43]:
param_grid = {'alpha':[0.1, 1, 5, 50, 100, 200], 'l1_ratio':[.1, .5, .7, .95, .99, 1, 2]}

In [44]:
from sklearn.model_selection import GridSearchCV
grid_model = GridSearchCV(estimator=basic_elastic_net_model, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5, verbose=2)

In [ ]:
grid_model.fit(X_train, y_train)
grid_model.best_params_

Fitting 5 folds for each of 42 candidates, totalling 210 fits
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   1.7s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   1.6s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   1.6s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   1.5s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   2.4s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   3.8s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   4.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   3.9s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   5.4s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   4.2s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.1min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.9min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.5min

In [32]:
y_pred = grid_model.predict(X_test)

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
MSE = mean_squared_error(y_test, y_pred)
MAE = mean_absolute_error(y_test, y_pred)
RMSE = np.sqrt(mean_squared_error(y_test, y_pred))

print(MSE)
print(RMSE)
print(MAE)

422652274.4950196
20558.508566893164
14195.354900562163

In [40]:
np.mean(df['SalePrice'])

np.float64(180815.53743589742)